<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Literature丨La Grand Bibliothèque</title>
    <link rel="icon" href="/src/indexbcg.png" type="image/x-icon">
    <link rel="shortcut icon" href="/src/indexbcg.png" type="image/x-icon">
    <meta name="description" content="Personal Blog Web by ShioLilia">
    <meta name="author" content="ShioLilia">
	<meta name="keywords" content="Four Seasons">
    <link href="/src/css/bootstrap.min.css" rel="stylesheet">
    <link href="/src/css/main_style.css" rel="stylesheet">
    <style>
      body {
        background-image: url('/src/bg/inside.png');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }
    </style>
  </head>
  <body data-custom-bg>
    <header>
        <div class="header-left">
            <div class="language-switcher">
                <button class="lang-btn active" data-lang="cn">CN</button>
                <button class="lang-btn" data-lang="jp">JP</button>
                <button class="lang-btn" data-lang="en">EN</button>
                <button class="lang-btn" data-lang="la">LA</button>
            </div>
        </div>
        <div class="header-center">
            <input type="text" id="searchBox" class="search-box" placeholder="搜索页面...">
            <button class="search-btn" onclick="performSearch()">🔍</button>
        </div>
        <div class="header-right">
            <button class="header-btn" onclick="window.open('/src/indx/talk')">相谈</button>
            <button class="header-btn" onclick="window.open('/src/indx/friends')">友人</button>
            <button class="header-btn" onclick="window.open('/src/indx/mn')">赞助</button>
        </div>
    </header>
    <main class="container-fluid">
	
<div class="blog-post-in">
  <button class="back-button" onclick="window.location.href = '/src/cn/literature/ind' ">返回上一页</button>
  <h3 class="blog-post-title-in">标题</h3>
  <p class="blog-post-meta-in">日期 分组：<a href="#">翻译作品</a></p>
  <p class="blog-post-content-in">
    请输入内容
    </p>
    </div>
<hr/>
</div>
<hr/>

    
    <!-- Giscus评论区 -->
<div class="comments-section">
  <h3>评论区</h3>
  <script src="https://giscus.app/client.js"
          data-repo="ShioLilia/ShioLilia.github.io"
          data-repo-id="R_kgDOMGspsQ"
          data-category="Announcements"
          data-category-id="DIC_kwDOMGspsc4C0uM_"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="dark"
          data-lang="zh-CN"
          crossorigin="anonymous"
          async>
  </script>
</div>

    <div class="col-sm-3 col-sm-offset-1">

<div class="sidebar-module sidebar-module-inset">
  <div class="avatar">
    <img class="img-circle img-rounded img-thumbnail avatar" src="static/img/3.jpg">
    <div>
      <h4>花雅宁</h4>
      <a>ShioLilia at GitHub</a>
    </div>
  </div>
  <p>女。歌者、舞者、乐手，文学少女，贩卖原创力。</p>
</div>
    </main>
    <footer><a onclick="window.open('https://hanaajanen.lofter.com/')">关注我们</a></footer>
  </body>
    <script src="/src/js/jquery.min.js"></script>
    <script src="/src/js/bootstrap.min.js"></script>
    <script src="/src/js/scripts.js"></script>
</html>

